.bg-light-Ñ {
    background: #fcffea;
}

.h100 {
    height: 100vh;
}

.logo-text {
    color: #a34c36;
    font-size: 1.25rem;
    line-height: inherit;
    margin-right: 1rem;
    padding-bottom: .3125rem;
    padding-top: .3125rem;
    white-space: nowrap;
}

.menu {
    letter-spacing: -.5px;
}

.menu-item {
    color: #343a40 !important;
}

.section-row {
    margin-bottom: 40px;
}

.nav-menu {
    margin-left: 20px;
}

/*----------------------------*\
	post thumb
\*----------------------------*/
.post.post-thumb {
    position: relative;
}

.post.post-thumb .post-img:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 38, 49, 0.3)), to(transparent));
    background: linear-gradient(to top, rgba(33, 38, 49, 0.3) 0%, transparent 100%);
}

.post.post-thumb .post-body {
    position: absolute;
    bottom: 0px;
    padding: 20px 15px;
}

.post.post-thumb .post-meta .post-date {
    color: #eceef2;
}

.post.post-thumb .post-title {
    font-size: 22px;
}

.post.post-thumb .post-title > a {
    color: #FFF;
}

/*----------------------------*\
	post widget
\*----------------------------*/
.post.post-widget:after {
    content: '';
    display: block;
    clear: both;
}

.post.post-widget .post-img {
    width: 90px;
    float: left;
    margin-right: 15px;
}

.post.post-widget .post-img img {
    width: 100%;
}

.post.post-widget .post-title {
    font-size: 18px;
}

/*----------------------------*\
	post row
\*----------------------------*/
.post.post-row:after {
    content: '';
    display: block;
    clear: both;
}

.post.post-row .post-img {
    width: 40%;
    float: left;
}

.post.post-row .post-body {
    margin-left: calc(40% + 30px);
}

.post.post-row .post-meta {
    margin-top: 0px;
}

.post.post-row .post-title {
    margin-bottom: 15px;
}

.nav-menu li a {
    -webkit-box-shadow: -1px 0 0 0 #eceef2 inset;
    -webkit-transition: .2s color;
    box-shadow: -1px 0 0 0 #eceef2 inset;
    padding: 7px 0;
    position: relative;
    transition: .2s color;
}

.nav-menu li a:after {
    -webkit-transition: .2s width;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    transition: .2s width;
    width: 100%;
}

.nav-menu li a:hover, .nav-menu li a:focus {
    background-color: transparent;
    text-decoration: none;
}

.nav-menu li.cat-1 :after, .post-meta .post-category.cat-1 {
    background-color: #4BB92F;
}

.nav-menu li.cat-1 a:hover, .nav-menu li.cat-1 a:focus {
    color: #4BB92F;
}

.nav-menu li.cat-2 :after, .post-meta .post-category.cat-2 {
    background-color: #ff8700;
}

.nav-menu li.cat-2 a:hover, .nav-menu li.cat-2 a:focus {
    color: #ff8700;
}

.nav-menu li.cat-3 :after, .post-meta .post-category.cat-4 {
    background-color: #0078ff;
}

.nav-menu li.cat-3 a:hover, .nav-menu li.cat-3 a:focus {
    color: #0078ff;
}

.nav-menu li.cat-4 :after, .post-meta .post-category.cat-3 {
    background-color: #8d00ff;
}

.nav-menu li.cat-4 a:hover, .nav-menu li.cat-4 a:focus {
    color: #8d00ff;
}

.nav-menu li:first-child a {
    border-left: 1px solid #eceef2;
}

.o-50 {
    opacity: 0.5;
}

.o-99 {
    opacity: 0.99;
}

.old-cost {
    text-decoration: line-through;
}

.post {
    margin-bottom: 40px;
}

.post .post-img {
    -webkit-transition: .2s opacity;
    display: block;
    transition: .2s opacity;
}

.post .post-img > img {
    width: 100%;
}

.post .post-img:hover, .post .post-img:focus {
    opacity: 0.9;
}

.post .post-meta {
    margin-bottom: 15px;
    margin-top: 15px;
}

.post .post-title {
    font-size: 18px;
    margin-bottom: 0;
}

.post-meta .post-category {
    -webkit-transition: .2s opacity;
    background-color: #212631;
    border-radius: 2px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    margin-right: 15px;
    padding: 3px 10px;
    text-transform: uppercase;
    transition: .2s opacity;
}

.post-meta .post-category.cat-5 {
    background-color: #ff4d4a;
}

.post-meta .post-category:hover, .post-meta .post-category:focus {
    opacity: 0.9;
    text-decoration: none;
}

.post-meta .post-date {
    font-size: 13px;
    font-weight: 600;
}

.post-tags li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 3px;
}

.post-tags li a {
    -webkit-transition: .2s opacity;
    background-color: #212631;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 3px 10px;
    transition: .2s opacity;
}

.post.post-thumb {
    position: relative;
}

.post.post-thumb .post-body {
    bottom: 0;
    padding: 20px 15px;
    position: absolute;
}

.post.post-thumb .post-img:after {
    background: linear-gradient(totop, rgba(33, 38, 49, 0.3) 0 transparent 100%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.post.post-thumb .post-meta .post-date {
    color: #eceef2;
}

.post.post-thumb .post-title {
    font-size: 22px;
}

.post.post-thumb .post-title > a {
    color: #FFF;
}

.red-text {
    color: #a34c36;
}

.section-title {
    padding-bottom: 15px;
    padding-top: 5px;
}

.title {
    font-size: 1.2rem;
}

html, body, .full-height {
    height: 100%;
}